{{define "index"}}
<html>
<head>
    <title>File Share</title>
    {{template "header"}}
</head>
    <body>
        <div class="ui container">
            <div class="ui list">
                <h1>File Share</h1>
                {{range .}}
                <div class="item">
                    {{if .IsDir}}
                        <i class="folder icon"></i>
                        <div class="content">
                            <div class="header"><a href="{{.Name}}/">{{.Name}}/</a></div>
                        </div>
                    {{else}}
                        <i class="file icon"></i>
                        <div class="content">
                            <div class="header"><a download href="{{.Name}}">{{.Name}}</a></div>
                        </div>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
    </body>
    {{template "footer"}}
</html>

{{end}}